@font-face {
    font-family: "League";
    src: url("../fonts/league_regular.ttf") format("truetype");
}

body {
    background-color: #21232d;
}

.index-h1-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: 15rem;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    border-style: unset;
}

#div-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.player-card {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 2rem
}


.avatar-icon {
    border-radius: 3rem;
    cursor: pointer;
}

.avatar-icon:hover {
    transform: scale(1.04);
    transition: 0.18s;
}

.avatar-icon-div {
    display: inline-block;
}

.player-name {
    text-align: center;
    margin-top: 0;
    color: antiquewhite;
    font-family: League;
}

.react-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.react-img {
    width: 30px;
    height: 30px;
}

.react-btn:hover {
    transform: scale(1.50);
}


#like-counter {
    font-weight: bold;
    color: green;
    font-size: 25px;
}

#dislike-counter {
    margin-left: 1.5rem;
    font-weight: bold;
    color: red;
    font-size: 25px;
}

