<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Champions</title>

    <link rel="icon" href="../static/images/12118480.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/stylesheets/global.css">
    <link rel="stylesheet" href="../static/stylesheets/champions.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/scripts/global.js" defer></script>
    <script src="../static/scripts/HTMLEscape.js" defer></script>
    <script src="../static/scripts/champions.js" defer></script>
</head>
<body>
<header>
    <a href="dashboard.html"><img class="index-h1-logo" src="../static/images/logo-removebg-preview.png"
                                  alt="League of Legends Header Logo"></a>
</header>
<input type="text" id="champions-search" placeholder="search by name">
<section id="champions-list">

</section>
</body>
</html>