<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/stylesheets/dashboard.css">
    <script src="../static/scripts/dashboard.js" defer></script>

</head>
<body>

<section class="search-summoner">

    <select id="region">
        <option value="world" selected="selected">World</option>
        <option value="eune">EUNE</option>
        <option value="euw">EUW</option>
        <option value="br">BR</option>
        <option value="jp">JP</option>
        <option value="ru">RU</option>
        <option value="kr">KR</option>
        <option value="lan">LAN</option>
        <option value="las">LAS</option>
        <option value="na">NA</option>
        <option value="oce">OCE</option>
        <option value="tr">TR</option>
    </select>

    <input id="search-input" type="text" placeholder="Summoner name...">

    <a id="search-link" href="">
        <button id="search-button">🔎</button>
    </a>

</section>

<section class="more stuffff">

    <p>aaaaaaaaaaa</p>


</section>

</body>
</html>