<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/12118480.ico" type="image/x-icon"/>
    <title>League of Legends Dashboard</title>
    <link rel="stylesheet" href="../static/stylesheets/dashboard.css">
    <link rel="stylesheet" href="../static/stylesheets/global.css">
    <script src="../static/scripts/global.js" defer></script>
    <script src="../static/scripts/dashboard/search-summoner.js" defer></script>
    <script src="../static/scripts/dashboard/free-champions.js" defer></script>


</head>
<header>
    <a href="dashboard.html"><img class="index-h1-logo" src="../static/images/logo-removebg-preview.png"
                                  alt="League of Legends Header Logo"></a>
</header>
<body>

<section id="search-summoner">

    <select id="region">
        <option value="world" selected="selected">World</option>
        <option value="eune">EUNE</option>
        <option value="euw">EUW</option>
        <option value="br">BR</option>
        <option value="jp">JP</option>
        <option value="ru">RU</option>
        <option value="kr">KR</option>
        <option value="lan">LAN</option>
        <option value="las">LAS</option>
        <option value="na">NA</option>
        <option value="oce">OCE</option>
        <option value="tr">TR</option>
    </select>

    <input id="search-input" type="text" placeholder="Summoner name...">

    <a id="search-link" href="summoner.html">
        <button id="search-button">🔎</button>
    </a>

</section>

<section id="free-champions">



</section>

</body>
</html>