<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/12118480.ico" type="image/x-icon"/>
    <title>League of Legends Summoner</title>
    <link rel="stylesheet" href="../static/stylesheets/global.css">
    <link rel="stylesheet" href="../static/stylesheets/summoner.css">
    <script src="../static/scripts/HTMLEscape.js" defer></script>
    <script src="../static/scripts/global.js" defer></script>
    <script src="../static/scripts/summoner/summoner.js" defer></script>
    <script src="../static/scripts/summoner/match-history.js" defer></script>
</head>
<header>
    <a href="dashboard.html"><img class="index-h1-logo" src="../static/images/logo-removebg-preview.png"
                                  alt="League of Legends Header Logo"></a>
</header>
<body>

<div class="flex-container">
    <div id="div-wrapper">
    </div>
</div>


<ul id="matches-list"></ul>

</body>
</html>
